<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta')%> 
    <title>Movie Project</title>
</head>
<body>
    <%- include('../partials/header')  %> 
    <h1>Up and Running!</h1>
    <p>test</p>
</body>
</html>