@font-face {
    font-family: Determination;
    src: url(/fonts/DeterminationMono.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: Determination;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30pt;
}